<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <springProperty scope="context" name="logLevel" source="logging.level.root" />
    <springProperty name="LOG_PATH" source="logging.path" defaultValue="logs"/>
    <property name="FILE_LOG_PATTERN" value="%date{yyyy-MM-dd'T'HH:mm:ss.SSS} %.5p [expo-cust] %C{1} : %m%n%wEx"/>
    <!--    <property name="FILE_LOG_PATTERN" value="%date{yyyy-MM-dd'T'HH:mm:ss.SSS} %.5p [expo-cust] |%TID%CID| %C{1} : %m%n%wEx"/>-->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="FILE-OUT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <file>${LOG_PATH:-.}/expo-cust.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH:-.}/expo-cust.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 30 days -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- SYSLOG -->
    <appender name="SYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
        <syslogHost>localhost</syslogHost>
        <facility>LOCAL7</facility>
        <port>514</port>
        <throwableExcluded>true</throwableExcluded>
        <suffixPattern>[expo-cust] %date{yyyy-MM-dd HH:mm:ss:SSS} %.5level - %msg%n</suffixPattern>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>Error</level>
        </filter>
    </appender>

<!--     Configure the Sentry appender, overriding the logging threshold to the WARN level -->
<!--    <appender name="Sentry" class="io.sentry.logback.SentryAppender">-->
<!--        <minimumEventLevel>ERROR</minimumEventLevel>-->
<!--    </appender>-->

    <root level="${logLevel}">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE-OUT" />
        <appender-ref ref="SYSLOG" />
<!--        <appender-ref ref="Sentry" />-->
    </root>
</configuration>
